
# Environment variables
.env

# Google Credentials
credentials.json
token.json

# Temporary files
.tmp/
*.tmp

# Python
__pycache__/
*.pyc

# files
directives/
execution/
node_modules/
.vscode
auth-server.js
src_backend
backend.js
backend_new.js
website_portfolio.zip
website_portfolio_new.zip
favicon.png
avlokai_logo.png
